<form
		class="ui form"
		method="post"
		data-request="onRestorePassword"
		data-request-success="alert('Password reset request has been sent. Please check you email!');"
        data-request-redirect="/login"
		>
	<div class="field email">
		<label for="userRestoreEmail">Email address <span class="required-marker" aria-hidden="true">*</span></label>
		<input name="email" type="email" id="userRestoreEmail" required aria-required="true" autocomplete="email" placeholder="Enter your email">
	</div>

	<div class="mt-1 text-center">
        <button type="submit" class="btn btn-secondary">Restore password</button>
	</div>

	<div class="text-center">
		<a class="btn btn-link" href="/login">Return to login</a>

	</div>
</form>
