url = "/demonstration-hubs"
layout = "default"
title = "Demonstration hubs"

[siteSearchInclude]

[jumbotron aim]
jumbotron = "aim2"
title = 1
background = "transperant"
templates = "template3"
description_limit = 0

[jumbotron countries]
jumbotron = "countries"
background = "transperant"
templates = "template3"
description_limit = 0
==
<?php
use Pensoft\Partners\Models\Partners;

function onStart(){
	$this['partners'] =  Partners::where('type', 2)->get();
}
?>
==
{% component 'siteSearchInclude' %}
{% component 'aim' %}
<section aria-labelledby="locations-heading">
    <div class="container">
        <h1 id="locations-heading">Locations</h1>
        <nav aria-label="Partner locations" class="tabs">
            <div role="tablist">
                {% for k, partner in partners %}
                <a href="#{{partner.instituion|slug}}"
                   role="tab"
                   aria-controls="{{partner.instituion|slug}}"
                   class="partner_tab">
                    <span class="partner_title">{{partner.instituion}}</span>
                </a>
                {% endfor %}
            </div>
        </nav>
    </div>

    {% for k, partner in partners %}
    <article
        class="container-fluid data_container"
        id="{{partner.instituion|slug}}"
        role="tabpanel"
        aria-labelledby="partner-heading-{{k}}"
        style="background: url({{partner.cover.path}}) bottom right no-repeat; background-size: 30% 100%;">
        <div class="container">
            <h2 id="partner-heading-{{k}}" class="sr-only">{{partner.instituion}}</h2>
            <div class="partner_description">{{partner.content|raw}}</div>
            <div class="partner_link"><a href="/{{partner.instituion|slug}}" class="btn btn-secondary" alt="Learn more about the {{partner.instituion}} hub">Learn more about the hub</a></div>
        </div>
        <div class="sr-only" role="img" aria-label="{{partner.instituion}} background image"></div>
    </article>
    {% endfor %}
</section>

{% component 'countries' %}
