url = "/media-center"
layout = "default"
title = "Media centre"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
==
<?php
use Pensoft\Media\Models\MediaLogos;
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Newsletters;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Pressreleases;
use Pensoft\Media\Models\Videos;

function onStart(){
	$this['logos'] =  MediaLogos::get();
	$this['flyers'] =  Flyers::get();
	$this['newsletters'] =  Newsletters::get();
	$this['presentations'] =  Presentations::get();
	$this['pressreleases'] =  Pressreleases::get();
	$this['videos'] =  Videos::get();
}
?>
==
{% if logos.count() %}
<section class="container-fluid media_center_item" data-aos="fade-up" aria-labelledby="brand-kit-heading">
    <div class="container media-center-container">
        <div class="row middle-xs">
            <div class="col-md-4 col-xs-12">
                <h2 id="brand-kit-heading" class="media_label">Brand Kit</h2>
                <p class="explore_label">Explore the direction of Green Talent for appropriate use</p>
                <a href="{{url('media-center')}}/brand-kit"
                   class="btn btn-primary"
                   aria-label="View brand kit including logos and guidelines">
                    View brand kit
                </a>
            </div>
            <div class="col-md-8 col-xs-12">
                <a href="{{url('media-center')}}/brand-kit"
                   aria-label="View brand kit">
                    <div class="card_image_container media_item logo">
                        <div class="card_bg">
                            <span class="card_icon" aria-hidden="true"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if videos.count() %}
<section class="container-fluid media_center_item" data-aos="fade-up" aria-labelledby="videos-heading">
    <div class="container media-center-container">
        <div class="row middle-xs">
            <div class="col-md-4 col-xs-12">
                <h2 id="videos-heading" class="media_label">Videos</h2>
                <p class="explore_label">Explore the direction of Green Talent for appropriate use</p>
                <a href="{{url('media-center')}}/videos"
                   class="btn btn-primary"
                   aria-label="Watch project videos and multimedia content">
                    Watch videos
                </a>
            </div>
            <div class="col-md-8 col-xs-12">
                <a href="{{url('media-center')}}/videos"
                   aria-label="Watch videos">
                    <div class="card_image_container media_item videos">
                        <div class="card_bg">
                            <span class="card_icon" aria-hidden="true"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if flyers.count() %}
<section class="container-fluid media_center_item" data-aos="fade-up" aria-labelledby="project-materials-heading">
    <div class="container media-center-container">
        <div class="row middle-xs">
            <div class="col-md-4 col-xs-12">
                <h2 id="project-materials-heading" class="media_label">Project materials</h2>
                <p class="explore_label">Explore all project assets in one place</p>
                <a href="{{url('media-center')}}/project-materials"
                   class="btn btn-primary"
                   aria-label="View project materials and downloads">
                    View project materials
                </a>
            </div>
            <div class="col-md-8 col-xs-12">
                <a href="{{url('media-center')}}/project-materials"
                   aria-label="View project materials">
                    <div class="card_image_container media_item flyer">
                        <div class="card_bg">
                            <span class="card_icon" aria-hidden="true"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if pressreleases.count() %}
<section class="container-fluid media_center_item" data-aos="fade-up" aria-labelledby="press-releases-heading">
    <div class="container media-center-container">
        <div class="row middle-xs">
            <div class="col-md-4 col-xs-12">
                <h2 id="press-releases-heading" class="media_label">Press releases</h2>
                <p class="explore_label">Discover media releases and project highlights</p>
                <a href="{{url('media-center')}}/press-releases"
                   class="btn btn-primary"
                   aria-label="View all press releases and announcements">
                    View press releases
                </a>
            </div>
            <div class="col-md-8 col-xs-12">
                <a href="{{url('media-center')}}/press-releases"
                   aria-label="View press releases">
                    <div class="card_image_container media_item press">
                        <div class="card_bg">
                            <span class="card_icon" aria-hidden="true"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}

{% if newsletters.count() %}
<section class="container-fluid media_center_item" data-aos="fade-up" aria-labelledby="newsletters-heading">
    <div class="container media-center-container">
        <div class="row middle-xs">
            <div class="col-md-4 col-xs-12">
                <h2 id="newsletters-heading" class="media_label">Newsletters</h2>
                <p class="explore_label">Catch up with the latest stories and insights from Green Talent</p>
                <a href="{{url('media-center')}}/newsletters"
                   class="btn btn-primary"
                   aria-label="View and subscribe to newsletters">
                    View newsletters
                </a>
            </div>
            <div class="col-md-8 col-xs-12">
                <a href="{{url('media-center')}}/newsletters"
                   aria-label="View newsletters">
                    <div class="card_image_container media_item newsletter">
                        <div class="card_bg">
                            <span class="card_icon" aria-hidden="true"></span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endif %}
