<div class="row media-nav">
    <div class="col-md-9 col-xs-12">
        <div class="category-tabs-container mb-2">
            <nav class="row category-tabs" id="category-tabs" role="navigation" aria-label="Media center categories">
                <a href="/media-center/brand-kit"
                   class="{{ 'brand-kit' == active_tab ? 'active' : '' }}"
                   role="tab">Brand kit</a>

                <a href="/media-center/videos"
                   class="{{ 'videos' == active_tab ? 'active' : '' }}"
                   role="tab">Videos</a>

                <a href="/media-center/project-materials"
                   class="{{ 'project-materials' == active_tab ? 'active' : '' }}"
                   role="tab">Project materials</a>

                <a href="/media-center/press-releases"
                   class="{{ 'press-releases' == active_tab ? 'active' : '' }}"
                   role="tab">Press releases</a>

                <a href="/media-center/newsletters"
                   class="{{ 'newsletters' == active_tab ? 'active' : '' }}"
                   role="tab">Newsletters</a>
            </nav>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="go-back">
            <a href="/media-center"  class="col-xs-12 back-to-news">Back to Media Center</a>
        </div>
    </div>
</div>
