<div class="col-xs-12 col-md-5 mt-1 mb-1">
	{# id="search" collided with the header's search overlay #}
	<div class="search" role="search">
		<form class="input-group align-items-start" action="{{ url('documents-search')}}" method="get">
					{# the label had no for=, so the field announced as unlabelled #}
					<label class="text-grey" for="repository-search-input" style="white-space: nowrap; margin-right: 10px;">Search in Internal repository</label>

					<input class="form-control search" id="repository-search-input" style="color: #000;" name="q" type="text" autocomplete="on">
					<button class="btn search btn-link pr p-search big text-grey-search-btn" type="submit"><span class="sr-only">Search the internal repository</span></button>


		</form>
	</div>
</div>

<div class="col-xs-12 col-md-3 end-xs">
	{% if folder.nest_depth == 0 and folders.count == 0 %}
	<a href="{{url('internal-repository')}}" class="back"> <div class="arrow-left end-xs"></div> &nbsp;Back to documents</a>
	{% endif %}
</div>

